@media (min-width: 768px){

    .lwhite, .lblue{
        padding: 3% 0 3% 0 !important;
    }
    
    .lwhite h2, .lblue h2{
        font-size: 5vw !important;
        margin-bottom: 3% !important;
    }

    .lwhite p, .lblue p{
        font-size: 2.5vw !important;
    }

    .lwhite li, .lblue li{
        font-size: 2.5vw !important;
    }

    .lwhite ul, .lblue ul{
        margin: 3% 0 3% 0 !important;
        padding-left: 10% !important;
    }

    .saibaMais{
        margin-top: 2% !important;
    }

}