@media (min-width: 770px){
.linha5{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 3% 0 3% 0;
}

.linha5 h2{
    font-size: 4vw;
    color: #434C55;
    padding: 0 0 3% 0;
}

.linha5 p{
    font-size: 2vw;
    width: 90%;
    color: #434C55;
    text-align: justify;
}

}