@media (max-width: 769px){
    *{
        margin: 0px;
        padding: 0px;
        font-family: Arial, Helvetica, sans-serif;
    }

    h2{
        font-size: 5.5vw;
    }

    p{
        font-size:4.5vw;
    }


    .container{
        width: 100vw;
        height: auto;
    }

    .head{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #nome{
        display: none;
    }

    .head div{
        width: 90%;
        height: auto;
        margin: 2% 0 2% 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .logo1{
        width: 40%;
        height: auto;
        display: flex;
        align-content: center;
        align-items: center;
    }

    .logo1 img{
        width: 100%;
        height: auto;
    }

    .head .matriculi-se1{
        width: 30vw;
        height: 10vw;
        background-color: #65bdaf;
        border-radius: 1vw;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items:center;
        color: white;
        font-size: 3vw;
        font-weight: 400;
    }

    .head nav{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .head .bnt{
        width:45%;
        text-decoration: none;
        color: #6e706a;
        margin: 2% 0 2% 0;
    }

    #bntContato{
        width: 100%;
    }

    .head nav a h2{
        text-align: center;
    }

}
