@media (max-width: 767px){
    .linha5{
        width: 100%;
        height: auto;
        padding: 5% 0 5% 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    
    .linha5 h2{
        font-size: 8.5vw;
        color: #434C55;
        padding-bottom: 5%;
    }
    
    .linha5 p{
        width: 90%;
        font-size: 6vw;
        color: #434C55;
        text-align: justify;
    }
    
    }