@media (max-width: 769px){
    .linha6{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: #268DD4;
    }
    
    .linha6 h2{
        font-size: 8vw;
        color: white;
        align-items: center;
        margin: 3% 0 3% 0;
    }
    
    .linha6 article{
        width: 90%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    
    .map{
        width: 90vw;
        height: 90vw;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
    }
    
    .linha6 article p{
        font-size: 6vw;
        color: white;
        text-align: center;
        margin: 5% 0 5% 0;
    }
    
    }