@media (max-width: 769px){
    .linha3{
        width: 100vw;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .linha3 h2 {
        font-size: 8vw;
        color: #6e706a;
        margin-top: 2%;
    }
    
    .linha3 div{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    
    .linha3 p{
        width: 90%;
        font-size: 5vw;
        color: #6e706a;
        text-align: justify;
        margin-top: 4%;
    }
    
    .linha3 ul{
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    
    .linha3 li{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: left;
        margin: 2% 0 2% 0;
    }
    
    .linha3 li img{
        width: 20%;
        height: auto;
    }
    
    .linha3 li h2{
        font-size: 7vw;
        color: #434C55;
        margin-left: 2%;
    }
    
}