@media (max-width: 769px){
    .linha1{
        width: 100vw;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    
    .linha1 h2{
        font-size: 250%;
        color: #6e706a;
        font-weight: 600;
        text-align: center;
    }
    
    .linha1 div{
        width: 100%;
        height: 90%;
        overflow: hidden;
        display: flex;
        justify-content: center;
    }
    
    .linha1 img{
        width: auto;
        height: 50vw;
    }

}