@media (max-width: 769px){
    .linha4{
        width: 100vw;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: #268DD4;
    }

    .linha4 h2{
        font-size: 8vw;
        color: rgb(248, 248, 248);
        margin: 2% 0 2% 0;
    }

    .linha4 p{
        width: 90%;
        font-size: 5vw;
        color: white;
        text-align: justify;
        padding: 5% 0 5% 0;
    }

    .linha4 section{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .hab{
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .hab ul{
        padding: 5% 0 5% 7%;
    }
    .hab li{
        font-size: 6vw;
        color: white;
    }

    .brasil{
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .brasil div{
        width: 90vw;
        height: 50vw;
        margin-bottom: 5%;
    }
}
