@media (min-width: 768px){
*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.title{
    font-size: 4vw;
}

.text{
    font-size: 2vw;
}

.header{
    width: 100%;
    height: auto;
    background-color: white;
    display: flex;
    align-items: center;
    margin: 2% 0 2% 0;
    
}

.header h1{
    display: none;
}

.logo{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 60%;
}

.header nav{
    width: 85%;
    height: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.header nav h2{
    font-size: 1.5vw;
    color: rgb(104, 104, 104);
}

.matriculi-se1{
    width: 15vw;
    height: 4vw;
    background-color: #268DD4;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    font-size: 130%;
    border-radius: 5px;
    box-shadow: 0px 0px 15px 0px rgb(153, 153, 153);
}

.header nav a{
    text-decoration: none;
}

}