@media (min-width: 768px){
.linha2{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #268DD4;
}

.linha2 h2 {
    font-size: 4vw;
    color: rgb(248, 248, 248);
    padding: 3% 0 0 0;
}

.linha2 p{
    font-size: 2vw;
    color: rgb(248, 248, 248);
    text-align: justify;
    width: 90%;
    padding: 3% 0 3% 0;
}

}