@media (min-width: 768px){
.linha4{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #268DD4;
}

.tec{
    width: 80%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 3% 0 3% 0;
}

.linha4 h2{
    font-size: 4vw;
    color:white;
    margin-bottom: 2%;
}

.tec p{
    font-size: 3vw;
    color:white;
    text-align: justify;
}

.linha4 section{
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: space-around;
    padding: 0 0 3% 0;

}

.hab{
    width: 50%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.hab li{
    font-size: 3vw;
    color:white;
    text-align: center;
}

.brasil{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.brasil div{
    width: 45vw;
    height: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

}