@media (min-width: 768px){
.linha4{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #268DD4;
}

.linha4 h2{
    color:white;
    padding: 3% 0 3% 0;
}

.linha4 p{
    width: 90%;   
    padding: 0 0 3% 0;
    color:white;
    text-align: justify;
}

.linha4 section{
    width: 90%;
    height: 75%;
    display: flex;
    justify-content: space-around;
    padding: 0 0 3% 0;
}

.linha4 section h2{
    font-size: 3vw;
    color:white;
    text-align: center;
    padding: 0 0 5% 0;
}

.hab{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.hab ul{
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
}

.hab li{
    font-size: 2vw;
    color:white;
    padding: 0 0 2% 0;
}

.brasil{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.brasil div{
    width: 40vw;
    height: 22vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

}